{%extends "base.html"%}
{% load static %}

{% block css%}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css"%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock css%}
{% block modal_cart%}
{% include "includes/cart_button.html"%}
{%endblock%}
{%block content%}
    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
        <div class="container">
        <h1>О нас</h1>
        <div class="section">
            <h3>Кто мы?</h3>
            <p>Мы - команда энтузиастов и настоящих поклонников настольных игр. Наш интернет-магазин был создан из любви к играм и желанию поделиться этим увлечением с другими. Наши сотрудники - это опытные игроки, которые всегда готовы помочь вам выбрать идеальную игру, будь то для семейного вечера, дружеской встречи или серьезного игрового турнира.</p>
        </div>
        <div class="section">
            <h3>Наши ценности</h3>
            <p><strong>Качество и разнообразие</strong>: Мы тщательно подбираем ассортимент, чтобы предложить вам только лучшие настольные игры от ведущих мировых производителей. В нашем каталоге вы найдете игры на любой вкус: от классических шахмат и монополии до современных стратегий и ролевых приключений.</p>
            <p><strong>Обслуживание клиентов</strong>: Мы стремимся обеспечить высокий уровень обслуживания и поддерживаем наших клиентов на каждом этапе покупки. Наша цель - сделать процесс выбора и покупки игры максимально удобным и приятным.</p>
            <p><strong>Сообщество и культура игры</strong>: Мы верим, что настольные игры - это не просто развлечение, но и способ объединить людей, развить навыки коммуникации и мышления. Мы активно поддерживаем игровое сообщество, организуем турниры и игровые вечера, чтобы каждый мог найти единомышленников и насладиться игровым процессом.</p>
        </div>
        <div class="section">
            <h3>Почему выбирают нас?</h3>
            <p><strong>Широкий ассортимент</strong>: В нашем магазине представлено более 50 настольных игр для всех возрастов и предпочтений.</p>
            <p><strong>Быстрая доставка</strong>: Мы обеспечиваем оперативную доставку по всей стране, чтобы вы могли как можно скорее погрузиться в мир игр.</p>
            <p><strong>Гарантия качества</strong>: Все наши товары сертифицированы и проходят тщательную проверку перед отправкой.</p>
            <p><strong>Удобство заказа</strong>: Интуитивно понятный интерфейс нашего сайта позволяет легко найти нужную игру, ознакомиться с ее описанием и оформить заказ в несколько кликов.</p>
        </div>
        <div class="section">
            <h3>Присоединяйтесь к нам!</h3>
            <p>Настольные игры - это больше, чем просто развлечение. Это возможность провести время с близкими, развить стратегическое мышление и просто весело провести время. Присоединяйтесь к нашему игровому сообществу, следите за новинками и акциями, и пусть каждая игра приносит вам радость и новые впечатления.</p>
            <p>Спасибо, что выбрали нас!</p>
            <h5>Есть вопросы? Обратитесь в Телеграмм-чат поддержки!</h5>
            <a href="https://t.me/chatbotforsitebgame_bot" target="_blank" style="font-size: 32px; color: #0088cc;">
        <i class="fab fa-telegram-plane"></i>
    </a>
            <br>
            <br>

            <br>
            <br>
            <br>
            <br>
            <br>


        </div>
    </div>
    </div>
{%endblock content%}

{%block footer%}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Интернет-магазин настольных игр BGame</p>
        </div>
    </footer>
    {%endblock footer%}






